nav {
    background: #66cc54;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    box-shadow: .12rem .12rem .2rem rgba(0, 0, 0, .1);
  }
  nav menu {
  /*   background: pink; */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li {
    height: 100%;
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
  }
  nav a {
    height: 4ch;
    text-decoration: none;
    cursor: pointer;
  }
  nav a:hover {
    background: rgba(240, 240, 240, .3);
    box-shadow: 0 .12rem .1rem black;
  }
  nav a:first-child {
    margin-right: auto;
  }