/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.form-container {
    /* background-image: url(../../assets/stacked-steps-haikei.svg); */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* max-width: 400px; */
    display: flex;
    justify-content: center;
    padding-top: 117px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.skills-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#skillList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#skillList li {
    background-color: #e7e7e7;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}
