/* my-form.component.css */

.container{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 117px;
    /* border: 1px solid black */
    background-image: url(../../assets/symbol-scatter-haikei.svg);
    color: white;
}
.box{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    border: 1px solid rgb(234, 232, 232);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #2b2a2a;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #007BFF;
  }
  
  