<!-- my-form.component.html -->
<div class="container">
    <div class="box">
        <h1>
            BASIC DETAILS
        </h1>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name:</label>
              <input id="name" formControlName="name" class="form-control">
              <span *ngIf="myForm.get('name')?.errors?.['required'] && myForm.get('name')?.touched" class="error">
                Name is required.
              </span>
              <span *ngIf="myForm.get('name')?.errors?.['minlength'] && myForm.get('name')?.touched" class="error">
                Name should be at least 3 characters long.
              </span>
              <span *ngIf="myForm.get('name')?.errors?.['pattern'] && myForm.get('name')?.touched" class="error">
                Only characters are allowed.
              </span>
              <span *ngIf="myForm.get('name')?.errors?.['userInvalid'] && myForm.get('name')?.touched" class="error">
              {{myForm.value.name}} text is not allow
              </span>
              
            </div>
          
            <div class="form-group">
              <label for="email">Email:</label>
              <input id="email" formControlName="email" class="form-control">
              <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="error">
                Enter a valid email.
              </div>
            </div>
          
            <div formGroupName="address" class="form-group">
                <label for="street">Street:</label>
                <input id="street" formControlName="street" class="form-control">
                <span *ngIf="myForm.get('address.street')?.errors?.['required'] && myForm.get('address.street')?.touched" class="error">
                  Street is required.
                </span>
                <br>
                <label for="city">City:</label>
                <input id="city" formControlName="city" class="form-control">
                <span *ngIf="myForm.get('address.city')?.errors?.['required'] && myForm.get('address.city')?.touched" class="error">
                  City is required.
                </span>
                <br>
                <label for="state">State:</label>
                <input id="state" formControlName="state" class="form-control">
                <span *ngIf="myForm.get('address.state')?.errors?.['required'] && myForm.get('address.state')?.touched" class="error">
                  State is required.
                </span>
                
            </div>
          
            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
  